/* TODO: Have your plugin's CSS files generated to here. */

div.camera-settings-outer {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#settings_plugin_camerasettings {
    height: 100%;
}